.info{
  @import url('https://fonts.googleapis.com/css?family=Fredoka+One');
  font-family: 'Fredoka One', cursive;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .DateInfo-icon {
    font-size: 1.7em;
    cursor: pointer;
  }

  .DateInfo-Date-Layout {
    display: flex;
  }

  .DateInfo-Date {
    font-size: 2em;
    margin-right: 0.3em;
  }
  
  .DateInfo-Day{
    font-size: 1.3em;
  }
}  


